body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

p {
    text-overflow: ellipsis; /* will make [...] at the end */
    width: device-width; /* change to your preferences */
    max-width: 63ch;
    white-space: wrap; /* paragraph to one line */
    overflow:hidden; /* older browsers */
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  border: 2px solid black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-top-left-radius: 1em 1em; /* rounded corner! */
  border-top-right-radius: 1em 1em; /* another rounded corner! */
}

.subnav {
  float: left;
  overflow: hidden;
   border: 2px solid black;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.navbar a:hover, .subnav:hover .subnavbtn{
    background-color: maroon;;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: maroon;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: navy;
}

.subnav:hover .subnav-content {
  display: block;
}
